<template name="NavBar">
	<div class="row align-items-center">                
		<div class="col-lg order-lg-first">
		  <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
			<li class="nav-item"><a class="nav-link" href="/"><i class="fe fe-home"></i>Home</a></li>
			<li class="nav-item dropdown">
				<a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-calendar"></i> Category</a>
				<div class="dropdown-menu dropdown-menu-arrow">
					{{#each categories}}
					<a href="/category/{{category}}" class="dropdown-item ">{{category}}</a>
					{{/each}}   
				</div>
			</li>
			{{#if isInRole 'admin'}}
			<li class="nav-item dropdown">
				<a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fe fe-calendar"></i> Admin Panel</a>
				<div class="dropdown-menu dropdown-menu-arrow">
				  <a href="/admin/posts" class="dropdown-item ">Manage Posts</a>
				  <a href="/admin/createpost" class="dropdown-item ">Create Post</a>
				  <a href="/admin/categories" class="dropdown-item ">Manage Categories</a>
				  <a href="/admin/createcategory" class="dropdown-item ">Create Category</a>
				</div>
			</li>
			{{/if}}
			{{#if currentUser}}
			<li class="nav-item"><a class="nav-link" href="/userpanel"><i class="fe fe-lock"></i>Change Password</a></li>
			<li class="nav-item"><a id="logout" class="nav-link" href="/"><i class="fe fe-log-out"></i>Logout</a></li>			
			{{/if}}  			
		  </ul>
		</div>
	</div>
</template>

<template name="loginDropdown">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true">Login<span class="caret"></span></a>
        <ul class="dropdown-menu list-group">
            <li class="list-group-item" style="border-color: transparent;">{{>LoginForm}}</li>
        </ul>
    </li>
</template>
